.new-expense{
    border: 2px solid whitesmoke;
    border-radius: 20px;
    width: 400px;
    max-width: 70%;
}

.new-expense label{
    font-size: 1.5rem;
}

.new-expense input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.expense-form{
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-gap: .5rem;
}