.backdrop {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.75);
}

.content {
  position: fixed;
  top: 10vh;
  right: 0;
  width: 50%;
  background-color: white;
  padding: 1rem;
  /* border-radius: 14px; */
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
  z-index: 30;
  animation: slide-left 600ms ease-out;
  height: 100vh;
}

  
  @keyframes slide-left {
    from {
      opacity: 0;
      transform: translateX(3rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


@media screen and (max-width:468px) {
  .content{
    padding-left: 10%;
  }
}
