.header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1030;
    margin: 20px 5%;
    height: 10vh;
    box-shadow: rgb(78, 49, 49) 1px 0px 16px 3px;
}

.header-title{
    line-height: 1.5rem;
}

.logo{
    width: 80px;
    height: 40px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.header-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    align-items: center;
}

.header-checkbtn{
    display: none;
}

.header-menu{
display: flex;
align-items: center;
}

@media (max-width: 992px){
    .header-checkbtn{
        display: block;
        margin-right: 7%;
    }
    .header-checkbtn i{
        color: #05c9c2;
        cursor: pointer;
    }

    .header-checkbtn a{
        color: #05c9c2;
    }
    
    .header-menu{
        display: none;
    }
}