:root{
    --link-color: #126a67;
    --hover-color:rgb(4, 2, 34);
    --dark-bg: linear-gradient(to right, #74ebd5, #acb6e5);;
    color: black;
    --light-bg: linear-gradient(to right, #c9d6ff, #e2e2e2)
}

body{
    background: var(--dark-bg)
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}