.menu{
    margin-top: 15px;
    /* background-color: tomato; */
    margin-right: 20px;
}

.menu-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-nav li{
    list-style: none;
    margin-right: 25px;
}

.menu-nav li a{
    text-decoration: none;
    color: var(--link-color);
    font-size: 17px;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    transition: hover 1s ease-in;
}

.menu-nav li a:hover{
    color: var(--hover-color);
}

@media (max-width:1200px){
    .menu-nav li{
        margin-bottom: 20px;
    }
}